/* Basic reset */
html, body {
  margin:0;padding:0;
}
body {
  padding: 20px;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
}

div {
  margin: 5px 0;
}

.frame-footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}
